
#inputNumberOne{
    margin-left: 75px;
    
}
#inputNumberTwo{
    margin-left: 60px;
    
}
#NL1{
    margin-left: 80px;
}
#NL2{
    margin-left: 75px;
}
.pos {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.operators{
    padding: 5px
}



.operate {
    background-color: cornflowerblue;
    color: white;
}




#lblResult{
    font-size: large;
}

.button{
    min-width: 50px;
    border-radius: 15%;
}

.buttons{
    padding: 5px
}

.numbers{
    max-width: 100px;
    min-height: 20px;
    border: 1px solid black
}

.clear{
    background: grey;
    color: white;
}


